templates/05-quality-gate-template.json
{
  "name": "Quality Gate Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ci-quality",
        "responseMode": "lastNode"
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ci-quality"
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst repo = event.repository?.full_name;\nconst commit = event.after || event.pull_request?.head?.sha;\nconst branch = (event.ref || '').replace('refs/heads/', '');\n\nreturn {\n  json: {\n    repo,\n    commit,\n    branch,\n    workdir: `/tmp/ci/${repo.replace(/\\//g, '-')}`,\n    event_type: $headers['x-github-event']\n  }\n};"
      },
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "=mkdir -p {{$json.workdir}} && cd {{$json.workdir}} && (git clone https://{{$env.GITHUB_TOKEN}}@github.com/{{$json.repo}}.git . 2>/dev/null || git pull)",
        "host": "={{ $credentials.ssh.host }}",
        "user": "={{ $credentials.ssh.user }}",
        "privateKey": "={{ $credentials.ssh.privateKey }}"
      },
      "name": "Checkout",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "=cd {{$json.workdir}} && shimwrappercheck analyze --model kimi-k2.5 --ollama-host http://localhost:11434 --strict --output json --report-file /tmp/reports/{{$json.commit}}.json",
        "host": "={{ $credentials.ssh.host }}",
        "user": "={{ $credentials.ssh.user }}",
        "privateKey": "={{ $credentials.ssh.privateKey }}"
      },
      "name": "ShimWrapperCheck",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "=cat /tmp/reports/{{$json.commit}}.json",
        "host": "={{ $credentials.ssh.host }}",
        "user": "={{ $credentials.ssh.user }}",
        "privateKey": "={{ $credentials.ssh.privateKey }}"
      },
      "name": "Read Report",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const report = JSON.parse($json.stdout || '{}');\nconst passed = report.passed !== false;\nconst issues = report.issues || [];\n\nreturn {\n  json: {\n    passed,\n    issues_count: issues.length,\n    summary: report.summary || 'No summary',\n    report\n  }\n};"
      },
      "name": "Parse Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.repo}}/statuses/{{$json.commit}}",
        "method": "POST",
        "body": {
          "state": "success",
          "description": "=✅ Quality Gate passed ({{$json.issues_count}} issues)",
          "context": "n8n-ci/quality-gate"
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true
      },
      "name": "Report Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.repo}}/statuses/{{$json.commit}}",
        "method": "POST",
        "body": {
          "state": "failure",
          "description": "=❌ Quality Gate failed ({{$json.issues_count}} issues)",
          "context": "n8n-ci/quality-gate"
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true
      },
      "name": "Report Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "chatId": "5220247822",
        "text": "=🤖 AI Code Review (Kimi k2.5)\n\nRepo: {{$json.repo}}\nBranch: {{$json.branch}}\n\n{{$json.summary}}\n\nIssues: {{$json.issues_count}}\n\nStatus: {{$json.passed ? '✅ PASSED' : '❌ FAILED'}}",
        "options": {}
      },
      "name": "Telegram Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{"node": "Parse Event", "type": "main", "index": 0}]]
    },
    "Parse Event": {
      "main": [[{"node": "Checkout", "type": "main", "index": 0}]]
    },
    "Checkout": {
      "main": [[{"node": "ShimWrapperCheck", "type": "main", "index": 0}]]
    },
    "ShimWrapperCheck": {
      "main": [[{"node": "Read Report", "type": "main", "index": 0}]]
    },
    "Read Report": {
      "main": [[{"node": "Parse Report", "type": "main", "index": 0}]]
    },
    "Parse Report": {
      "main": [
        [{"node": "Report Success", "type": "main", "index": 0}],
        [{"node": "Report Failure", "type": "main", "index": 0}]
      ]
    },
    "Report Success": {
      "main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]
    },
    "Report Failure": {
      "main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ci", "quality", "ai", "shimwrappercheck", "template"]
}
